
.DS_Store

parkour_vision.xcodeproj/project.pbxproj

parkour_vision.xcodeproj/project.xcworkspace/xcuserdata/tyson.xcuserdatad/UserInterfaceState.xcuserstate

parkour_vision.xcodeproj/xcuserdata/tyson.xcuserdatad/xcschemes/parkour_vision.xcscheme
